.items {
  height: calc(100vh - 130px);
}
.card-items {
  overflow: auto;
}

.card-items::-webkit-scrollbar {
  width: 7px;
}

.card-items::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #a3a19c;
}
