<div class="card items bg-transparent border-0 shadow-none">
  <div class="row g-1 mb-3">
    <div class="col-12 col-xl-6">
      <input
        class="form-control"
        type="text"
        [(ngModel)]="filterName"
        placeholder="Nombre de producto"
      />
    </div>
    <div class="col-6 col-xl-3">
      <input
        class="form-control"
        type="number"
        min="1"
        [(ngModel)]="filterPriceMin"
        placeholder="Precio min"
      />
    </div>
    <div class="col-6 col-xl-3">
      <input
        class="form-control"
        type="number"
        min="1"
        [(ngModel)]="filterPriceMax"
        placeholder="Precio max"
      />
    </div>
  </div>
  <div class="card-items pe-3 pe-lg-0">
    <div class="row g-2">
      <ng-container *ngIf="items$ | async as items">
        <ng-container
          *ngFor="
            let item of items
              | filterItemByName : filterName
              | filterItemByPrice : filterPriceMin : filterPriceMax
          "
        >
          <app-sale-item class="col-12 col-lg-6" [item]="item"></app-sale-item>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
