.items {
  height: calc(100vh - 140px);
}
.card-items {
  overflow-x: hidden;
  overflow-y: auto;
}

.card-items::-webkit-scrollbar {
  width: 7px;
}

.card-items::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #a3a19c;
}
