.cart {
  height: calc(100vh - 140px);
}

.card-body::-webkit-scrollbar {
  width: 7px;
}

.card-body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #a3a19c;
}
.card,
.card-body {
  background-color: #ebebeb;
}
