<div class="row">
    <div class="col-12 col-md-6 col-lg-8">
        <app-sale-list-items />
    </div>
    <div class="col-12 col-md-6 col-lg-4 d-none d-md-block">
        <!-- card -->
        <ng-container class="d-none">
            <app-cart></app-cart>
        </ng-container>
    </div>
    <div class="fixed-bottom button-float d-md-none">
        <button class="btn btn-primary btn-lg float-end rounded-circle" (click)="openCart()">
            <i class="bi bi-cart"></i>
        </button>
    </div>
</div>