.brand {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}
.brand-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
hr {
  padding-bottom: 0;
  margin-bottom: 0;
}
