<nav class="navbar navbar-dark bg-primary sticky-top">
  <div class="container-fluid">
    <div>
      <a class="btn-sidebar fs-5" (click)="showSidebar()">
        <span class="navbar-toggler-icon"></span>
      </a>
    </div>
    <div class="navbar-title"><span>Home</span></div>
    <!-- Nav -->
    <ul class="nav">
      <!-- Account -->
      <li class="nav-item" display="dynamic" placement="bottom-end" ngbDropdown>
        <a class="nav-link" id="navbarDropdown" ngbDropdownToggle>
          <img class="profile-photo" src="assets/images/profile.jpg" alt="Imagen de perfil" />
        </a>
        <!-- Options account -->
        <div class="text-center" aria-labelledby="navbarDropdown" ngbDropdownMenu>
          <a ngbDropdownItem>Cuenta <span class="account">({{ account }})</span></a>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <a ngbDropdownItem>Configuración</a>
      <a ngbDropdownItem (click)="logout()">Cerrar sesión</a>
  </div>
  </li>
  </ul>
  </div>
</nav>