<div class="card h-100" (click)="addProductCart(item)">
  <div class="row">
    <div class="col-4">
      <img
        src="{{ item.imageUrl }}"
        alt="Imagen del producto"
        class="image mx-auto"
      />
    </div>
    <div class="col-8">
      <div class="card-body">
        <p class="text-muted fw-semibold">{{ item.name }}</p>
      </div>
      <div class="card-footer py-2 px-3 bg-transparent">
        <p class="fw-bold text-black m-0">
          Precio: {{ item.price | currency : "PEN" }}
        </p>
      </div>
    </div>
  </div>
</div>
