<div class="card text-start">
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-3 mb-3">
        <label for="name">Nombre *</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Ejemplo: Manzana"
        />
      </div>
      <div class="col-12 col-md-3 mb-3">
        <label for="category">Categoría</label>
        <select class="form-select" id="category" aria-label="Select category">
          <option selected>Sin categoria</option>
          <option value="1">Lacteos</option>
          <option value="2">Utensilios</option>
        </select>
      </div>
      <div class="col-12 col-md-6 mb-3 buttons">
        <button class="btn btn-sm btn-success mx-1">Aceptar</button>
        <button class="btn btn-sm btn-danger mx-1">Cancelar</button>
        <button class="btn btn-sm btn-primary mx-1">
          <span><i class="bi bi-plus"></i>Variante</span>
        </button>
      </div>
    </div>
  </div>
</div>
