<div class="container-fluid">
  <h3>Historial de ventas</h3>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="bg-secondary text-white">
        <tr>
          <!-- <th>Código</th> -->
          <th>Fecha de venta</th>
          <th>Total</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sale of sales$ | async">
          <!-- <td>{{ sale.id }}</td> -->
          <td>{{ sale.date | date : "EEEE, MMMM d, y" }}</td>
          <td>{{ sale.total | currency : "S/." }}</td>
          <td class="d-flex gap-3">
            <button
              title="Ver detalle"
              class="btn btn-sm btn-light fs-6"
              (click)="onLoadSaleItems(sale)"
            >
              <i class="bi bi-card-list"></i>
            </button>
            <button
              title="Eliminar"
              class="btn btn-sm btn-light text-danger fs-6"
              (click)="onDeleteSale(sale)"
            >
              <i class="bi bi-trash-fill"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
