<div class="text-danger" *ngIf="isValidField()">
  <div *ngIf="field.errors.required">
    <small>Este campo es requerido.</small>
  </div>
  <div *ngIf="field.errors.email">
    <small>Ingrese un correo valido.</small>
  </div>
  <div *ngIf="field.errors.minlength">
    <small>
      * Este campo debe tener un mínimo de
      {{ field.errors.minlength.requiredLength }} caracteres.
    </small>
  </div>
  <div *ngIf="field.errors.maxlength">
    <small>
      Este campo debe tener un máximo de
      {{ field.errors.maxlength.requiredLength }} caracteres.
    </small>
  </div>
  <div *ngIf="field.errors.passwordValidation">
    <small>
      {{ field.errors.passwordValidation.message }}
    </small>
  </div>
</div>
