<div class="row">
  <div class="options-header col-12 col-md-12">
    <!-- Add product -->
    <h3>Productos</h3>
    <button class="btn btn-success btn-add" routerLink="add">Nuevo producto</button>
    <!-- Search product -->
    <!-- <div class="input-group">
      <input type="text" id="search" class="form-control" placeholder="Producto a buscar" />
      <button class="btn btn-primary">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div> -->
    <!-- <div class="options-header col-12 col-md-6">
    <select class="form-select" aria-label="Default select example">
      <option selected>Todos los productos</option>
      <option value="1">Sin categoria</option>
      <option value="2">Lacteos</option>
      <option value="3">Utensilios</option>
    </select>

    <select class="form-select" aria-label="Default select example">
      <option selected>Todos los productos</option>
      <option value="1">Stock bajo</option>
      <option value="2">No disponible</option>
    </select>
  </div> -->
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Categoría</th>
          <th>Precio</th>
          <!-- <th>Costo</th>
        <th>Stock</th>
        <th>Stock Min.</th> -->
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody class="text-white-50">
        <tr *ngFor="let product of products">
          <td>{{ product.name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.price | currency : "S/. " }}</td>
          <!-- <td>{{ product.cost | currency : "S/. " }}</td>
        <td>{{ product.stock }}</td>
        <td>{{ product.stock_min }}</td> -->
          <td>
            <a title="Editar" class="text-info mx-2 fs-6" (click)="goEditProduct(product)"><i
                class="bi bi-pencil-fill"></i></a>
            <!-- <a class="text-primary small mx-1"><i class="bi bi-eye"></i></a> -->
            <a title="Eliminar" class="text-danger mx-2 fs-6" (click)="delete(product)"><i
                class="bi bi-trash-fill"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>