<div class="layout">
  <div class="card">
    <form [formGroup]="form">
      <div class="card-title">
        <h2>Iniciar sesión</h2>
      </div>
      <div class="mb-3">
        <label for="email">Usuario</label>
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
          placeholder="Ingresa tu correo"
        />
        <app-valation-messages
          *ngIf="isValidField('email')"
          [errors]="form.get('email')?.errors"
        ></app-valation-messages>
      </div>
      <div class="mb-3">
        <label for="password">Contraseña</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
        />
        <app-valation-messages
          *ngIf="isValidField('password')"
          [errors]="form.get('password')?.errors"
        ></app-valation-messages>
      </div>
      <div class="d-grid gap-2">
        <button
          type="button"
          class="btn btn-lg btn-primary"
          (click)="onSubmit()"
        >
          Iniciar
        </button>
      </div>
    </form>
  </div>
</div>
