<div class="layout">
  <div class="card">
    <form [formGroup]="form">
      <div class="card-title">
        <h3>Iniciar sesión</h3>
      </div>
      <div class="mb-3">
        <label for="email">Usuario</label>
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
          placeholder="Ingresa tu correo"
        />
        <app-validation-messages
          *ngIf="isValidField('email')"
          [errors]="form.get('email')?.errors"
        ></app-validation-messages>
      </div>
      <div class="mb-3">
        <label for="password">Contraseña</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
          placeholder="Ingrea tu contraseña"
        />
        <app-validation-messages
          *ngIf="isValidField('password')"
          [errors]="form.get('password')?.errors"
        ></app-validation-messages>
      </div>
      <div class="sent">
        <button
          type="button"
          class="btn btn-lg btn-primary"
          (click)="onSubmit()"
          [disabled]="form.invalid"
        >
          Iniciar
        </button>
      </div>
      <div class="link">
        <a (click)="toResetPassword()">¿Olvido su contraseña?</a>
      </div>
    </form>
  </div>
</div>
