.wrapper {
  display: grid;

  grid-template-rows: 82px 1fr;
  grid-template-areas:
    "menu"
    "main";

  width: 100%;
}

.menu {
  grid-area: menu;
  background-color: blue;
}

.main {
  grid-area: main;
  background-color: #e2e2e2;
  overflow-x: scroll;
}
