<div class="container-fluid">
  <div class="d-flex justify-content-between mb-3">
    <h3>Categorías</h3>
    <button class="btn btn-success" routerLink="add">Nueva categoría</button>
  </div>
  
  <div class="table-responsive">
    <table class="table">
      <thead class="bg-secondary text-white">
        <tr>
          <th>Nombre</th>
          <th class="text-center">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category.name }}</td>
          <td class="d-flex justify-content-center gap-3">
            <a title="Editar" class="btn btn-sm btn-light fs-6" (click)="goEditCategory(category)"><i
                class="bi bi-pencil"></i></a>
            <!-- <a class="text-primary small mx-1" [ngClass]="{ 'text-secondary': !category.state }"
              (click)="disabledCategory(category)"><i class="bi bi-eye"></i></a> -->
            <a title="Eliminar" class="btn btn-sm btn-light text-danger fs-6" (click)="delete(category)"><i
                class="bi bi-trash-fill"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>