<div class="layout">
  <div class="card">
    <form [formGroup]="form">
      <div class="card-title">
        <h3>Reestablecer contraseña</h3>
      </div>
      <div class="mb-3">
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
          placeholder="Ingresa tu correo"
        />
        <app-validation-messages
          *ngIf="isValidField('email')"
          [errors]="form.get('email')?.errors"
        ></app-validation-messages>
      </div>

      <div class="sent">
        <button
          type="button"
          class="btn btn-lg btn-primary"
          (click)="onSubmit()"
          [disabled]="form.invalid"
        >
          Enviar
        </button>
      </div>
      <div class="link">
        <a (click)="toLogin()">Quiero iniciar sesión</a>
      </div>
    </form>
  </div>
</div>
