.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  padding: 1rem;
  margin: 1rem;
  width: 450px;
  max-width: 500px;
}

.card-title {
  text-align: center;
}

.sent {
  text-align: center;
  margin-top: 2rem;
}

.sent button {
  width: 250px;
}

.link {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
