<div class="offcanvas-header">
  <h4 class="offcanvas-title">AngularPOS</h4>
  <button type="button" class="btn-close" (click)="close()"></button>
</div>
<div class="brand">
  <img class="brand-img" src="assets/images/logo.png" alt="Imagen de perfil" />
</div>
<hr />
<ngb-accordion [closeOthers]="true" activeIds="ngb-panel">
  <ngb-panel>
    <ng-template ngbPanelTitle
      ><i class="bi bi-box me-3"></i>Productos</ng-template
    >
    <ng-template ngbPanelContent class="panel-content">
      <div class="list-group">
        <a
          class="list-group-item list-group-item-action"
          routerLink="/dashboard/products"
          >Lista de productos</a
        >
        <a class="list-group-item list-group-item-action" routerLink="/category"
          >Categorías</a
        >
        <a class="list-group-item list-group-item-action">Descuentos</a>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel>
    <ng-template ngbPanelTitle
      ><i class="bi bi-book me-3"></i>Inventario</ng-template
    >
    <ng-template ngbPanelContent class="panel-content">
      <ul class="list-group">
        <a class="list-group-item list-group-item-action" routerLink="/products"
          >Órdenes de compra</a
        >
        <a class="list-group-item list-group-item-action" routerLink="/"
          >Proveedores</a
        >
        <a class="list-group-item list-group-item-action"
          >Historial de inventario</a
        >
      </ul>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
