<div class="card mb-2 p-2">
  <span>{{ item.name }}</span>
  <hr class="m-1 text-secondary"/>
  <div class="d-flex align-items-center justify-content-between p-1">
    <!-- Imagen -->
    <div class="image-container flex-shrink-0">
      <img src="{{ item.imageUrl }}" alt="" class="image" />
    </div>

    <!-- Botones de cantidad -->
    <div class="d-flex gap-1 flex-shrink-0">
      <button
        class="btn btn-sm btn-light"
        title="Agregar"
        [disabled]="item.quantity < 2"
        (click)="decreaseAmount(item)"
      >
        <span class="fw-bolder"><i class="bi bi-dash"></i></span>
      </button>

      <button
        class="btn btn-sm btn-light"
        title="Quitar"
        (click)="increaseAmount(item)"
      >
        <span class="fw-bolder"><i class="bi bi-plus"></i></span>
      </button>
    </div>
    <!-- Precios -->
    <div class="d-flex justify-content-center gap-2 flex-grow-1">
      <span class="small">{{ item.price | currency : "PEN" }}</span>
      <span class="fw-semibold small">x</span>
      <span class="small">{{ item.quantity }}</span>
      <span class="fw-semibold small">=</span>
      <span class="fw-semibold small">{{
        item.price * item.quantity | currency : "PEN"
      }}</span>
    </div>
    <!-- Botón eliminar del carrito -->
    <div class="flex-shrink-0">
      <button
        title="Eliminar del carrito"
        class="btn btn-sm btn-light"
        (click)="removeItem(item)"
      >
        <span class="text-danger"><i class="bi bi-trash"></i></span>
      </button>
    </div>
  </div>
</div>
