/* You can add global styles to this file, and also import other style files */
:root {
  --bg-sidebar: #282828;
}
a {
  cursor: pointer;
}
.offcanvas {
  background-color: var(--bg-sidebar);
  width: 250px !important;
  z-index: 10;
}

/* Accordion */
.accordion {
  border: none;
}
.accordion-item {
  border: none;
}
.accordion-button {
  border-radius: 0 !important;
  background-color: var(--bg-sidebar);
}
.accordion-button:focus {
  background-color: var(--bg-sidebar);
  box-shadow: none;
}
.accordion-body {
  padding: 0;
}

/* List group */
.list-group {
  border-radius: 0;
}
.list-group-item {
  background-color: #2c2c2c;
}
