/* You can add global styles to this file, and also import other style files */
:root {
  --bg-sidebar: #282828;
  --bg-body: #222222;
}

/* HTML elements */
a {
  cursor: pointer;
}

body {
  background-color: var(--bg-body);
}

/* Mantener el ancho de celdas */
table td,
th {
  white-space: nowrap;
}

.table {
  background-color: #000;
}
.table tr td {
  color: #909294;
}

/* Card */
.card {
  /* background-color: #000; */
  padding: 1rem;
}

/* Offcanvas */
.offcanvas {
  background-color: var(--bg-sidebar);
  width: 260px !important;
  z-index: 10;
}
.backdrop {
  z-index: 8;
}

.offcanvas .backdrop {
  background-color: aqua;
}

/* Accordion */
.accordion {
  border: none;
}
.accordion-item {
  border: none;
}
.accordion-button {
  border-radius: 0 !important;
  background-color: var(--bg-sidebar);
}
.accordion-button:focus {
  background-color: var(--bg-sidebar);
  box-shadow: none;
}
.accordion-body {
  padding: 0;
}

/* List group */
.list-group {
  border-radius: 0;
}
.list-group-item {
  background-color: #2c2c2c;
}
